* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "BYekan";
    src: url(../fonts/BYekan.eot);
    src: url(../fonts/BYekan.eot?#iefix) format("embedded-opentype"), url(../fonts/BYekan.woff) format("woff"), url(../fonts//BYekan.ttf) format("truetype"), url(../fonts//BYekan.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

html,
body {
    font-family: "BYekan", Tahoma, Helvetica, sans-serif;
    direction: rtl;
    text-align: right;
}

